src/main/mule/masterdata-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="masterdata-papi-main">
        <http:listener config-ref="masterdata-papi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="masterdata-papi-config"/>
    </flow>
    <flow name="masterdata-papi-console">
        <http:listener config-ref="masterdata-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="masterdata-papi-config"/>
    </flow>
	<flow name="delete:\dynaccountdelete:masterdata-papi-config" doc:id="1a6b9dcf-b7cb-4d5c-8c49-d203b62f2fe9" >
		<flow-ref doc:name="dyn-sf-delete-account-flow" doc:id="32d6c58a-790b-4b23-a846-7f912f7443e7" name="dyn-sf-delete-account-flow" />
	</flow>
	<flow name="delete:\dyncontactdelete:masterdata-papi-config" doc:id="5a4b9ea9-789f-40e0-957d-76d22c887c7c" >
		<flow-ref doc:name="dyn-sf-delete-contact-flow" doc:id="6bf60b98-ff71-4107-8f90-a0711fa345cc" name="dyn-sf-delete-contact-flow" />
	</flow>
	<flow name="delete:\sfaccountdelete:masterdata-papi-config" doc:id="c6dd667f-fc9d-4628-adc2-987bc982254d" >
		<flow-ref doc:name="sf-dyn-delete-account-flow" doc:id="550bf9f8-2215-47b8-aa8e-53e2c585c1ca" name="sf-dyn-delete-account-flow" />
	</flow>
	<flow name="delete:\sfcontactdelete:masterdata-papi-config" doc:id="30ab376e-16c1-48bc-b131-61a201981fac" >
		<flow-ref doc:name="sf-dyn-delete-contact-flow" doc:id="7e8f1eba-e79f-4098-a20c-cf7b69ad62fd" name="sf-dyn-delete-contact-flow" />
	</flow>
	<flow name="post:\dynaccount:application\json:masterdata-papi-config" doc:id="e1d2137a-10b2-4012-9d27-ade986034ca7" >
		<flow-ref doc:name="dyn-sf-account-flow" doc:id="dfc78f0d-610a-4ad6-a65a-8dfa6d0a22fb" name="dyn-sf-account-flow" />
	</flow>
	<flow name="post:\dyncontact:application\json:masterdata-papi-config" doc:id="a02a5a1a-526c-4a95-ae25-500bfdc4e168" >
		<flow-ref doc:name="dyn-sf-contact-flow" doc:id="3c25f9ec-c201-4b9d-a9cd-b9ed0cfb67f3" name="dyn-sf-contact-flow" />
	</flow>
	<flow name="post:\sfaccount:application\json:masterdata-papi-config" doc:id="5870c187-3f1f-43d5-bc09-0be27c48a195" >
		<flow-ref doc:name="sf-dyn-account-flow" doc:id="383798f5-bb67-4b01-bef5-c65848d6de10" name="sf-dyn-account-flow" />
	</flow>
	<flow name="post:\sfcontact:application\json:masterdata-papi-config" doc:id="813b5ae8-0941-4d2d-94d0-388f76b3a8c4" >
		<flow-ref doc:name="sf-dyn-contact-flow" doc:id="a8480281-c5cc-4c84-aa62-a8fbf755cf93" name="sf-dyn-contact-flow" />
	</flow>
	<flow name="post:\sfopportunity:application\json:masterdata-papi-config" doc:id="98c7a7e4-513b-4766-8215-aa4a27352a84" >
		<flow-ref doc:name="sf-dyn-opportunity-flow" doc:id="d6dd7a76-7dea-424f-878e-7b50cc593975" name="sf-dyn-opportunity-flow" />
	</flow>
</mule>
