src/main/mule/to_salesforce/account.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">

	<flow name="dyn-sf-account-flow" doc:id="588c6a8a-1fb2-4442-bf04-f03ba4b2ee65" >
		<ee:transform doc:name="GET by AccountName SF Request vars" doc:id="94000265-db9c-4c9d-937b-3551ba0482bc">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="path"><![CDATA["/account"]]></ee:set-variable>
				<ee:set-variable variableName="body"><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="queryParam"><![CDATA[output application/java
---
{
	"accountName" : payload.accountName
}]]></ee:set-variable>
				<ee:set-variable variableName="uriParam"><![CDATA[output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-request-sf-connector-subflow" doc:id="70b77cec-8143-4485-847a-0a4ffeb57118" name="get-request-sf-connector-subflow" target="account" />
		<ee:transform doc:name="Set vars.condition" doc:id="c889e923-e7a1-45c3-8a21-fd7386353301">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="condition"><![CDATA[%dw 2.0
output application/json
---
if(isEmpty(vars.account)) "post-account-dyn-sf-flow"
else if((payload.accountName == vars.account.accountName) and 
(payload.email == vars.account.email) and 
(payload.phone == vars.account.phone)) "break-loop-account-flow"
else "put-account-dyn-sf-flow"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Route to flow" doc:id="643ad52a-10c8-46db-9f0a-72627a007acc" name="#[vars.condition]" />
	</flow>
	<flow name="dyn-sf-delete-account-flow" doc:id="587e7d97-b272-4536-a8e4-61cedf56705d" >
		<ee:transform doc:name="GET by External ID SF Request vars" doc:id="fcfed269-f0bf-4c7d-b836-9ba1af57c1f0">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="path"><![CDATA["/dynaccount/{ID}"]]></ee:set-variable>
				<ee:set-variable variableName="body"><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="queryParam"><![CDATA[output application/java
---
{
}]]></ee:set-variable>
				<ee:set-variable variableName="uriParam"><![CDATA[output application/java
---
{
	"ID" : payload.dynId
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-request-sf-connector-subflow" doc:id="ab7d2733-f1ed-40c8-b09b-0dd7eebf18ff" name="get-request-sf-connector-subflow" target="account"/>
		<choice doc:name="Choice" doc:id="97d5767e-bd7d-4010-b504-b2cf35cd5104" >
			<when expression='#[isEmpty(vars.account)]' >
				<logger level="INFO" doc:name="Log Account not exist on SalesForce" doc:id="5fec0981-2a6e-4f62-9eae-c354cc9284b3" message='#["Account does not exist on SalesForce"]' />
			</when>
			<otherwise >
				<ee:transform doc:name="DELETE Account SF Request vars" doc:id="c6f45dd7-1d42-47c5-9f18-56bb526699f3">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="path"><![CDATA["/account/{ID}"]]></ee:set-variable>
						<ee:set-variable variableName="body"><![CDATA[payload]]></ee:set-variable>
						<ee:set-variable variableName="uriParam"><![CDATA[output application/java
---
{
	"ID" : vars.account.sfId
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="delete-request-sf-connector-subflow" doc:id="08bdd787-6345-45c3-a823-7aa6f2e47fd6" name="delete-request-sf-connector-subflow" />
			</otherwise>
		</choice>
	</flow>
	<flow name="sp-sf-post-account-order-flow" doc:id="267213e5-18ea-4206-8bb7-df307eaa3b0e" >
		<scheduler doc:name="Scheduler" doc:id="01376bd8-0670-457c-aeb9-f4a475f0a324" >
			<scheduling-strategy >
				<cron expression="0 0 7,19 * * ?" timeZone="Europe/Belgrade" />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Log initial upload of accounts and orders started" doc:id="4ba36666-e075-4e2d-b62c-f9bd44df1de6" message='#["Initial upload of accounts and orders started"]'/>
		<ee:transform doc:name="GET Accounts SP Request vars" doc:id="b3ba7c8d-bc6c-45e7-af10-55ad8c6eb106" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA["/account"]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="queryParam" ><![CDATA[output application/java
---
{
}]]></ee:set-variable>
				<ee:set-variable variableName="uriParam" ><![CDATA[output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-request-sp-connector-subflow" doc:id="fd146d39-e2cc-4ab5-8171-c64bb4d97521" name="get-request-sp-connector-subflow" />
		<ee:transform doc:name="POST Account SF Request vars" doc:id="935875eb-4642-4230-b583-82c4d9e2e35b">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="path"><![CDATA["/accountpagination"]]></ee:set-variable>
				<ee:set-variable variableName="body"><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-request-sf-connector-subflow" doc:id="f435d80d-a8b3-4713-be71-58591e264586" name="post-request-sf-connector-subflow" />
		<ee:transform doc:name="Wait 20 seconds" doc:id="d38fec80-8685-464d-9e43-e1d4e293cce3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
---
{
	"Message": "Waiting 20 seconds..."
} wait 20000]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log 20 seconds" doc:id="664a40ff-0e41-4011-869c-3dd45e0505a4" message='#["20 seconds passed"]'/>
		<ee:transform doc:name="GET Orders SP Request vars" doc:id="801b7be9-6cc9-42e8-ab4d-ddd43959545a" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA["/order"]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[payload]]></ee:set-variable>
				<ee:set-variable variableName="queryParam" ><![CDATA[output application/java
---
{
}]]></ee:set-variable>
				<ee:set-variable variableName="uriParam" ><![CDATA[output application/java
---
{
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-request-sp-connector-subflow" doc:id="71b9c2cb-b0ae-4805-b61a-4d075f6f3d99" name="get-request-sp-connector-subflow" />
		<ee:transform doc:name="POST Order SF Request vars" doc:id="73e006d6-f058-4804-a4ae-aadad273c5f8" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="path" ><![CDATA["/orderpagination"]]></ee:set-variable>
				<ee:set-variable variableName="body" ><![CDATA[payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="post-request-sf-connector-subflow" doc:id="e147ca09-f992-4e08-88bc-57eca1013489" name="post-request-sf-connector-subflow" />
		<logger level="INFO" doc:name="Log initial upload of accounts and orders ended" doc:id="69429e41-479e-43b2-9fec-6e9a73895e83" message='#["Initial upload of accounts and orders ended"]' />
	</flow>
</mule>
